.btnSelectedColor{
    width:2rem;
    height:2rem;
}
.eachBtnColor{
    width:2rem;
    height:2rem;

}
.eachBtnColor:hover{
border:1px solid #fff;
cursor: pointer;

}
.holderAllColor{
    width: 6rem!important;
    flex-wrap: wrap;
}
