/* YourStyles.css */
html,body{
  height:100%;
}

.flex-container {
    display: flex;
    flex-direction: row; /* Horizontal arrangement */
    align-items: center; /* Vertically center the items */
  }
  
  label {
    flex: 1; /* Label takes up 1 part of available space */
    margin-right: 10px; /* Optional margin between label and input */
  }

  .cursor-pointer{
    cursor: pointer;
  }

  
.selected-color-light{
  color: #222 !important;
}

.custom-column {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}


.ant-input{
  box-shadow: none!important;;
}

.bg-todo{
  background-color:#FF9800;
}
.bg-progress{
  background-color:#2196F3;
}
.bg-done{
  background-color:#4CAF50;
}

.font-todo{
  color:#FF9800;
}
.font-progress{
  color:#2196F3;
}
.font-done{
  color:#4CAF50;
}

.font-delete{
  color:#f5222d;
}