.holderMain{
height:350px;
border:1px solid transparent;
}

.holderHeader{
    border-bottom:1px solid transparent;
} 

.holderBody{
  
    flex:1 1 0;
    overflow-y:auto;
}

.holderType{
    width:24px;
    height:24px;
}

.eachItem{
    display: flex;
    flex-direction:row;
    border-bottom: 1px solid transparent;
}

.holdertitle{
    flex: 1 1 auto;
    min-width: 0;

}

.title{
    max-width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.holderBtns{
    flex: none;
   
}
.input{
    height: 22px;
}

.btnSave{
    height: 22px;
    padding: 0 14px;
}