.holderMain{
height:350px;
border:1px solid transparent;
}

.holderHeader{
    border-bottom:1px solid transparent;
} 

.holderBody{
  
    flex:1 1 0;
    overflow-y:auto;
}

.holderType{
    width:24px;
    height:24px;
}

.eachItem{
    display: flex;
    flex-direction:row;
    border-bottom: 1px solid transparent;
}

.holdertitle{
    flex:1 1 0;
}

.holderBtns{

}